<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>GetStudentAnalysisServlet</servlet-name>
        <servlet-class>com.mycompany.academicperformancetracker.GetStudentAnalysisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ISAServlet</servlet-name>
        <servlet-class>com.mycompany.academicperformancetracker.ISAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStudentServlet</servlet-name>
        <servlet-class>com.mycompany.academicperformancetracker.ManageStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarksServlet</servlet-name>
        <servlet-class>com.mycompany.academicperformancetracker.UpdateMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.mycompany.academicperformancetracker.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.mycompany.academicperformancetracker.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SemesterMarksServlet</servlet-name>
        <servlet-class>com.mycompany.academicperformancetracker.SemesterMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSemesterMarksServlet</servlet-name>
        <servlet-class>com.mycompany.academicperformancetracker.UpdateSemesterMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatisticsServlet</servlet-name>
        <servlet-class>com.mycompany.academicperformancetracker.GetStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetStudentAnalysisServlet</servlet-name>
        <url-pattern>/GetStudentAnalysisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ISAServlet</servlet-name>
        <url-pattern>/ISAServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStudentServlet</servlet-name>
        <url-pattern>/ManageStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarksServlet</servlet-name>
        <url-pattern>/UpdateMarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemesterMarksServlet</servlet-name>
        <url-pattern>/SemesterMarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSemesterMarksServlet</servlet-name>
        <url-pattern>/UpdateSemesterMarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStatisticsServlet</servlet-name>
        <url-pattern>/GetStatisticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
